.main-content {
    width: 80%;
    padding: 40px;
    background-color: #FFFFFF;
  }
  
  .sessions-list {
    margin-top: 40px;
  }
  
  .sessions-list h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .sessions-list p {
    color: #999;
  }
  